/* 
///   HEADER:
        background #edd0d6
        h1 Brice SemiExpanded
        h1: #D9462C
        h2: #1C402E
      OTROS:
        TT Norms
        #edb5d7
        Open Sans
 */
@font-face {
  font-family: Brice;
  font-weight: 700;
  src: url("../fonts/brice-regular-semiexpanded.otf");
}

* {
  box-sizing: border-box;
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: #1c402e;
  font-family: "Roboto Slab", serif;
}
body {
  background-color: #ffff;
}

header {
  background-color: #edd0d6;
}

header,
main {
  display: flex;
  justify-content: center;
}

main {
  flex-direction: column;
  align-items: center;
}

section {
  display: flex;
  align-content: flex-start;
  justify-content: center;
  gap: 2rem;
  padding: 3rem 100px 0 100px;
  max-width: 1160px;
  max-height: 600px;
}

header section {
  background-color: #edd0d6;
}

.header-text {
  width: 60%;
}

h1,
h2 {
  font-weight: 400;
  font-family: Brice;
  font-size: 2.7rem;
}
a {
  text-decoration: none;
}
.header-text i img {
  border-radius: 0;
  max-width: 40px;
  max-height: 40px;
  margin-top: 1.5rem;
  margin-right: 1.2rem;
}

h1 {
  font-size: 2rem;
  color: #d9462c;
  margin-bottom: 2rem;
}

header img {
  border-radius: 40px;
  max-height: 680px;
  height: 85%;
  object-fit: cover;
  align-self: start;
}

header hr {
  border-top: dotted;
  margin: 0.5rem 2rem 1.9rem 0;
}

.main-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  padding: 2.5rem 2rem;
}

.main-container h2 {
  font-size: 1.8rem;
  text-align: center;
}

.main-container div {
  display: flex;
  align-items: end;
  gap: 3rem;
  margin-bottom: 2rem;
}

li {
  list-style: none;
  list-style-position: inside;
  line-height: 2.2rem;
  position: relative;
}

li::before {
  content: "";
  display: inline-block;
  position: absolute;
  height: 1.9rem;
  width: 1.9rem;
  background-size: 2rem;
  background-repeat: no-repeat;
  top: 50%;
  transform: translateY(-50%);
  left: -2.5rem;
}
.main-container li::before {
  background-image: url("../img/li_sadface.png");
}

#emoteCry {
  max-width: 35%;
  max-height: 200px;
}

.main-container p {
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.pink-container {
  position: relative;
  background-color: #edb5d7;
  max-width: 100%;
  width: 100%;
  padding: 0;
}

.pink-content {
  position: relative;
  max-width: 1160px;
  width: 100%;
  padding: 3rem 100px 2.5rem 100px;
  display: flex;
}

.pink-content img:first-child {
  max-width: 250px;
  max-height: 250px;
  position: absolute;
  right: -1.4rem;
  top: -5rem;
}

.pink-content div:nth-child(2) {
  display: flex;
  flex-wrap: wrap;
}
.pink-content img:nth-child(2) {
  max-width: 13rem;
}
.pink-content div p {
  margin-bottom: 1rem;
  margin-left: 1.3rem;
}
.pink-content div p:nth-child(1) {
  width: 100%;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
}
.pink-content div p:nth-child(2),
.pink-content div p:nth-child(3) {
  text-decoration: underline;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: left;
}
.pink-container span {
  font-size: 0.7rem;
  font-weight: 400;
}
.yo-soy-tengo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.yo,
.soy {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.yo li::before {
  background-image: url("../img/index-up.png");
}
span {
  font-weight: bold;
}
h3 {
  font-family: Brice;
  font-size: 2.8rem;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.btn {
  background: none;
  border: none;
  padding: 0;
  display: inline-block;
  overflow: hidden;
  width: 20%;
  height: auto;
  position: relative;
  min-width: 190px;
}

.btn img {
  width: 100%;
  height: 100%;
}
.btn span {
  font-family: Open Sans;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #1c402e;
}

.tengo li {
  background-color: #ffea9e;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 0 2rem;
  text-align: left;
  font-size: 0.9rem;
  line-height: 0.9rem;
  margin-bottom: 1rem;
}
/* 
//////////////////////////////////////////////////
///////////////// MEDIA QUERY
//////////////////////////////////////////////////
*

ERRORES: FLEX EN CONTENEDORES ABUELOS

/

/* @media (max-width: 750px) {
  * {
    font-size: 14px;
    flex-wrap: nowrap;
    flex-direction: column;
  }

  header {
    align-content: center;
    justify-content: start;
    gap: 10px;
    height: 900px;
    position: relative;
  }

  section {
    padding: 1.5rem;
    position: absolute;
    height: 100%;
  }

  .header-text {
    width: 100%;
  }

  header img {
    max-width: 350px;
    max-height: 650px;
    width: 90%;
    height: auto;
  }
} */
